<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Add Product</h3>
<p>
    <a th:href="@{/product}">
        Back to product list
    </a>
</p>
<div id="form">
    <form enctype="multipart/form-data" method="POST"
          novalidate="novalidate" th:action="@{/product/save}" th:object="${productForm}">
        <input th:field="*{id}" type="hidden"/>
        <div>
            <label>Name</label>
            <input th:field="*{name}" type="text"/>
        </div>
        <div>
            <label>Description</label>
            <input th:field="*{description}" type="text"/>
        </div>
        <div>
            <label>Image</label>
            <input th:field="*{image}" type="file"/>
        </div>
        <input type="submit" value="Save"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>